.checkout{
    background-color: #AE845F;
    font-weight: 600;
    color: #fff;
    padding: 14px 41px;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
}  
.checkout:hover {
    background-color: #000;
    color: #fff; 
}
 