 .spinner-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.685); 
        z-index: 1000;
      }

.comments_section {
  margin-top: 20px;
  padding: 15px;
}

.comments_list {
  border-radius: 8px;
  max-width: 100%;
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment {
  background-color: #ffffff;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment:hover {
  background-color: #f1f1f1;
}

@media (max-width: 576px) {
  .comments_section {
    padding: 10px;
  }

  .comment {
    font-size: 14px;
    padding: 8px;
  }
  .addToCart button {
    padding: 10px;
    width: 100%;
  }
  .comments_section button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
}
